doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="stylesheet" href="http://i.icomoon.io/public/temp/58ba121031/UntitledProject/style.css")
  meta(charset="utf-8")
  title You Rock Dude!

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")

  script.
    require('main');

body
  #fullPage
    .section.slide-1
      .background
        .container
          img(src="images/logo.png")
          h1 АНАЛИТИКА. ДИЗАЙН. ТЕХНОЛОГИИ.
          p
            |Мы занимаемся разработкой сайтов и мобильных приложений,
            |продвижением в социальных медиа, поддержкой и сопровождением бизнеса онлайн.

    .section.slide-2
      .container
        p
          |Эффективный рабочий процесс предполагает полное взаимопонимание.
          |Мы стремимся собирать вокруг себя людей,
          span которые вдохновляют друг друга
          |  каждый день.
          |Каждый из нас готов учить других и учиться сам, давать честную оценку своей деятельности и брать на себя личную ответственность.
          |Мы убеждены, что такой подход — залог
          span качественной
          |  работы.

    .section.slide-3
        .container
          h1 ЧТО МЫ ДЕЛАЕМ
          .left
            .one
              img(src="images/notebook.png")
              p.zagolovok ВЕБ-САЙТЫ
              p.text Осуществляем разработку веб-сайтов, интерактивных платформ и интранет- систем.
            .two
              img(src="images/help.png")
              p.zagolovok ПОДДЕРЖКА
              p.text Оказываем комплексную поддержку сайтов и ecommerce систем. Техническая, контентная и аналитическая поддержка.
          .right
            .three
              img(src="images/mobile.png")
              p.zagolovok МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ
              p.text Проектируем, разрабатываем и продвигаем мобильные приложения под платформы iOS и Android.
            .four
              img(src="images/brand.png")
              p.zagolovok БРЕНДИНГ
              p.text Создаем и продвигаем бренды , разрабатывая нейминг, фирменный стиль и айдентику.
    .section.slide-partner
      .container
        img(src="images/partner-1.png")
        p.text
          |Мы с радостью сотрудничаем с другими агентствами
          br
          |и
          span всегда открыты для работы
          |  с новыми партнерами.
        img(src="images/partner-2.png")
    nav.section.slide-4.nav-fillpath
      a(class="prev" )
        span(class="icon-wrap")
          h3
            strong

      .slide#slide1(data-anchor="slide1")
        .image-1
      .slide#slide2(data-anchor="slide2")
        .image-2
      .slide#slide3(data-anchor="slide3")
        .image-3
      .slide#slide4(data-anchor="slide4")
        .image-4
      .slide#slide5(data-anchor="slide5")
        .image-5
      .slide#slide6(data-anchor="slide6")
        .image-6
      .slide#slide7(data-anchor="slide7")
        .image-7
      .slide#slide8(data-anchor="slide8")
        .image-8
      .slide#slide9(data-anchor="slide9")
        .image-9
      .slide#slide10(data-anchor="slide10")
        .image-10
      .slide#slide11(data-anchor="slide11")
        .image-11
      a(class="next")
        span(class="icon-wrap")
          h3
            strong

    .section.slide-5
      .container
        p
          |Сайты тоже
          span нуждаются
          |  в постоянных изменениях, развитии и уходе. С нами ваши сайты будут чувствовать себя в полной безопасности.

    .section.slide-6
      .slide#slide1(data-anchor="slide1")
        .container
          h1 СУЩЕСТВУЮТ РАЗЛИЧНЫЕ ТИПЫ ПОДДЕРЖКИ, КОТОРЫЕ МЫ ГОТОВЫ ВАМ ПРЕДЛОЖИТЬ:
          .blocks
            .left
              p.zagolovok Базовая техническая поддержка
              p.text
                |Обеспечивает работу и безопасность сайта 24 часа в сутки.
                |Работа включает в себя аренду хостинг-площадки, резервное копирование баз данных и файлов проекта,
                |мониторинг доступности и работоспособности сайта из дата-центров в России,
                |Европе и США в зависимости от выбора Заказчика. Мы проследим, чтобы ваш сайт всегда был доступен,
                |а информация — неприкосновенна.
              p.zagolovok Контентная поддержка
              p.text
                |В работе с сайтами нельзя забывать об информационной динамике, которая требует своевременного обновления информации на сайте.
                |Мы отслеживаем тренды и поведение конкурентов и задействуем инструменты по работе с контентом любого формата:
                |тексты, инфографику, изображения и видео.
            .right
              p.zagolovok Стратегическое развитие
              p.text
                |Комплексное сопровождение, создание стратегии онлайн-присутствия — наша любимая часть работы.
                |Данный тип поддержки предполагает «взгляд со стороны» — оценку контента и анализ реакции пользователей на него,
                |измерение эффективности и меры по оптимизации проектов. Мы работаем с любыми форматами,
                |тематиками и инструментами и предлагаем собственные идеи по улучшению ваших проектов.
              p.zagolovok Аналитическая поддержка
              p.text
                |Сбор и анализ статистической информации помогает понять, насколько эффективно работает сайт.
                |Игнорировать эти показатели нельзя, как нельзя игнорировать пожелания и реакции своей целевой аудитории.
                |Мы ежемесячно предоставляем вам отчеты о состоянии сайта и рекомендации, которые помогут в дальнейшей работе.

      .slide#slide2(data-anchor="slide2")
        .container
          h1 ПОЧЕМУ СТОИТ ЗАКАЗЫВАТЬ SEO ИМЕННО У НАС:
          .blocks
            .left
              .one
                p.zagolovok Думаем
                p.text
                  |В первую очередь мы проводим анализ состояния сайта и оцениваем влияние на него внутренних и внешних факторов.
                  |Нам важно понять, действительно ли сайту требуется данный инструмент.
                  |Если мы увидим, что SEO — это не то, что может помочь вашему бизнесу,
                  |сразу сообщим вам и порекомендуем другие средства продвижения.
              .two
                p.zagolovok Поддерживаем
                p.text
                  |На каждом этапе работы мы предоставляем нашим клиентам отчеты о выполненных задачах, а по завершении работы — рекомендации по поддержке.
                  |Это поможет проследить динамику развития сайта и скорректировать стратегию дальнешей работы.

            .right
              .three
                p.zagolovok Точно знаем, что необходимо
                p.text
                  |Мы не отвлекаемся на второстепенные факторы и уверенно движемся к конкретному результату.
                  |Конечно, сайт, занимающий первую позицию в топе, выглядит внушительно, но нельзя забывать о
                  |главной цели оптимизации — улучшении трафика и увеличении числа заявок.
              .four
                p.zagolovok Ценим время
                p.text
                  |Реализация стратегии SEO всегда занимает немало времени.
                  |Мы тщательно продумываем каждый этап работы, потому что знаем, что любые недочеты лучше пресекать в самом начале,
                  |нежели корректировать, когда стратегия уже запущена. Так мы экономим и ваше, и наше время.
    .section.slide-instafeed
      #instafeed

    .section.slide-7
      .container
        .content
          h1 Контакты
          p.number Телефон:
            span +7 919 89 44 444
          p.adres Адрес:
            span Россия, Ростов-на-Дону, ул.Портовая 543, оф.323
          p.skype Skype:
            span
              a(href="skype:YourSkypeName?call") yurchenkoyuri
          p.email Email:
            span
              a(href="mailto:yuri.cr8tive@gmail.com") yuri.cr8tive@gmail.com
          p.rabotaem
            |Мы работаем
            |с 9:00 до 18:00
            |в рабочие дни.
          .social
            a(href="https://www.facebook.com/yyurchenko" target="_blank")
              span(class="icon-facebook2")
            a(href="https://dribbble.com/cr8tive" target="_blank")
              span(class="icon-dribbble")
            a(href="https://instagram.com/cr8tive/" target="_blank")
              span(class="icon-instagram19")
            a(href="http://yourockdudeblr.tumblr.com/" target="_blank")
              span(class="icon-tumblr1")
          p.copy
            © 2012—2014 You Rock Dude!
      #map-canvas
        .google-maps

